
.home-page-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: flex-start;
  flex-direction: column;
  
}
.home-page-home-page {
  top: 0px;
  left: 660px;
  width: 361px;
  height: 807px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 30px;
  justify-content: center;
  background-color: rgba(219, 220, 238, 1);
}
.home-page-rectangle7 {
  top: 0px;
  left: 0px;
  width: 360px;
  height: 65px;
  position: absolute;
}
.home-page-ellipse2 {
  top: 25px;
  left: 21px;
  width: 19px;
  height: 19px;
  position: absolute;
}
.home-page-frame10 {
  top: 95px;
  left: 24px;
  width: 327px;
  height: 641px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.home-page-text {
  left: 62px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: SemiBold;
  text-align: center;
  font-family: Cabin;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-page-rectangle4 {
  top: 152px;
  left: 0px;
  width: 318px;
  height: 266px;
  position: absolute;
  border-radius: 10px;
}
.home-page-text02 {
  top: 32px;
  left: 76px;
  color: rgba(255, 255, 255, 1);
  width: 179px;
  height: auto;
  position: absolute;
  font-size: 35.34000015258789px;
  font-style: Medium;
  text-align: center;
  font-family: Ubuntu;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-page-icon-hide {
  top: 45px;
  left: 255px;
  width: 21px;
  height: 16px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.home-page-sv-repoicon-carrier {
  top: 2.0000534057617188px;
  left: 0px;
  width: 21px;
  height: 12.100000381469727px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.home-page-vector {
  top: 5px;
  left: 9px;
  width: 5px;
  height: 4px;
  position: absolute;
}
.home-page-vector1 {
  top: 0px;
  left: 0px;
  width: 21px;
  height: 12px;
  position: absolute;
}
.home-page-rectangle1617 {
  top: 82px;
  left: 105px;
  width: 116px;
  height: 33px;
  position: absolute;
  border-color: rgba(255, 255, 255, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 3px;
}
.home-page-text04 {
  top: 88px;
  left: 113px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 17px;
  font-style: Regular;
  text-align: center;
  font-family: Cabin;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-page-text06 {
  top: 445px;
  left: 1px;
  color: rgba(40, 63, 183, 1);
  height: auto;
  position: absolute;
  font-size: 19px;
  font-style: Bold;
  text-align: center;
  font-family: Cabin;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-page-text08 {
  top: 37px;
  left: 45px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 20.34000015258789px;
  font-style: Medium;
  text-align: center;
  font-family: Ubuntu;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-page-main-features {
  top: 152px;
  left: 39px;
  width: 318px;
  height: 266px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.home-page-ellipse27 {
  top: 132px;
  left: 180px;
  width: 71px;
  height: 71px;
  position: absolute;
}
.home-page-text10 {
  top: 215px;
  left: 75px;
  color: rgba(0, 0, 0, 1);
  width: 85px;
  height: auto;
  position: absolute;
  font-size: 15px;
  font-style: SemiBold;
  text-align: center;
  font-family: Cabin;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-page-text12 {
  top: 215px;
  left: 186px;
  color: rgba(0, 0, 0, 1);
  width: 60px;
  height: auto;
  position: absolute;
  font-size: 15px;
  font-style: SemiBold;
  text-align: center;
  font-family: Cabin;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-page-text14 {
  top: 98px;
  left: -16px;
  color: rgba(0, 0, 0, 1);
  width: 82px;
  height: auto;
  position: absolute;
  font-size: 15px;
  font-style: SemiBold;
  text-align: center;
  font-family: Cabin;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-page-text16 {
  top: 99px;
  left: 86px;
  color: rgba(0, 0, 0, 1);
  width: 62px;
  height: auto;
  position: absolute;
  font-size: 15px;
  font-style: SemiBold;
  text-align: center;
  font-family: Cabin;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-page-text18 {
  top: 99px;
  left: 190px;
  color: rgba(0, 0, 0, 1);
  width: 53px;
  height: auto;
  position: absolute;
  font-size: 15px;
  font-style: SemiBold;
  text-align: center;
  font-family: Cabin;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-page-text20 {
  top: 206px;
  left: -16px;
  color: rgba(0, 0, 0, 1);
  width: 65px;
  height: auto;
  position: absolute;
  font-size: 15px;
  font-style: SemiBold;
  text-align: center;
  font-family: Cabin;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-page-whats-app-image20230402at21481 {
  top: 27px;
  left: -16px;
  width: 71px;
  height: 71px;
  position: absolute;
}
.home-page-whats-app-image20230402at22471 {
  top: 27px;
  left: 82px;
  width: 71px;
  height: 71px;
  position: absolute;
}
.home-page-whats-app-image20230402at22472 {
  top: 27px;
  left: 180px;
  width: 71px;
  height: 71px;
  position: absolute;
}
.home-page-whats-app-image20230402at22473 {
  top: 132px;
  left: -16px;
  width: 71px;
  height: 71px;
  position: absolute;
}
.home-page-whats-app-image20230402at22474 {
  top: 132px;
  left: 82px;
  width: 71px;
  height: 71px;
  position: absolute;
}
.home-page-recent-fatures {
  top: 477px;
  left: -2px;
  width: 317px;
  height: 164px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.home-page-rectangle41 {
  top: 0px;
  left: 0px;
  width: 317px;
  height: 152px;
  position: absolute;
  border-radius: 15.167462348937988px;
}
.home-page-text25 {
  top: 104.65567016601562px;
  left: 210.8275909423828px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 18.200956344604492px;
  font-style: SemiBold;
  text-align: center;
  font-family: Cabin;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-page-text27 {
  top: 104.65567016601562px;
  left: 43.98585891723633px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 18.200956344604492px;
  font-style: SemiBold;
  text-align: center;
  font-family: Cabin;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-page-whats-app-image20230402at224711 {
  top: 22.751426696777344px;
  left: 37.91862869262695px;
  width: 76px;
  height: 76px;
  position: absolute;
}
.home-page-whats-app-image20230402at22477 {
  top: 22.751426696777344px;
  left: 203.24411010742188px;
  width: 76px;
  height: 76px;
  position: absolute;
}
.home-page-navigasi {
  top: 691px;
  left: 0px;
  width: 360px;
  height: 109px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.home-page-rectangle1620 {
  top: 44px;
  left: -5px;
  width: 371px;
  height: 79px;
  position: absolute;
  border-color: rgba(147, 195, 250, 1);
  border-style: solid;
  border-width: 2px;
}
.home-page-ellipse1 {
  top: 9px;
  left: 140px;
  width: 69px;
  height: 69px;
  position: absolute;
}
.home-page-ellipse21 {
  top: 14px;
  left: 145px;
  width: 59px;
  height: 59px;
  position: absolute;
}
.home-page-mutasi {
  top: 57px;
  left: 83px;
  width: 35px;
  height: 42px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.home-page-text29 {
  top: 27px;
  color: rgba(173, 173, 173, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: SemiBold;
  text-align: center;
  font-family: Cabin;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-page-frame {
  top: 0px;
  left: 6px;
  width: 24px;
  height: 24px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.home-page-sv-repoicon-carrier1 {
  top: 0px;
  left: 1px;
  width: 22px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.home-page-vector2 {
  top: 0px;
  left: 0px;
  width: 22px;
  height: 24px;
  position: absolute;
}
.home-page-home {
  top: 54px;
  left: 22px;
  width: 35px;
  height: 46px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.home-page-text31 {
  top: 31px;
  color: rgba(40, 63, 183, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: SemiBold;
  text-align: center;
  font-family: Cabin;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-page-frame1 {
  top: 0px;
  left: 3px;
  width: 32px;
  height: 32px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.home-page-sv-repoicon-carrier2 {
  top: 0px;
  left: 0px;
  width: 25.904762268066406px;
  height: 30.496000289916992px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.home-page-page1 {
  top: 0px;
  left: 0px;
  width: 25.904762268066406px;
  height: 30.496000289916992px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.home-page-dribbble-light-preview {
  top: 0px;
  left: 0px;
  width: 25.904762268066406px;
  height: 30.496000289916992px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.home-page-icons {
  top: 0px;
  left: 0px;
  width: 25.904762268066406px;
  height: 30.496000289916992px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.home-page-home1392 {
  top: 0px;
  left: 0px;
  width: 26px;
  height: 30px;
  position: absolute;
}
.home-page-akun {
  top: 55px;
  left: 308px;
  width: 30px;
  height: 44px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.home-page-text33 {
  top: 29px;
  left: 2px;
  color: rgba(173, 173, 173, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: SemiBold;
  text-align: center;
  font-family: Cabin;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-page-frame2 {
  top: 0px;
  left: 0px;
  width: 30px;
  height: 30px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.home-page-sv-repoicon-carrier3 {
  top: 2.5px;
  left: 2.5px;
  width: 25px;
  height: 25.000123977661133px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.home-page-vector3 {
  top: 5.287475109100342px;
  left: 8.400875091552734px;
  width: 8px;
  height: 8px;
  opacity: 0.40;
  position: absolute;
}
.home-page-vector4 {
  top: 16.79387664794922px;
  left: 4.07471227645874px;
  width: 17px;
  height: 8px;
  opacity: 0.34;
  position: absolute;
}
.home-page-vector5 {
  top: 0px;
  left: 0px;
  width: 25px;
  height: 25px;
  position: absolute;
}
.home-page-aktivitas {
  top: 54px;
  left: 234px;
  width: 44px;
  height: 45px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.home-page-text35 {
  top: 30px;
  color: rgba(173, 173, 173, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: SemiBold;
  text-align: center;
  font-family: Cabin;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-page-frame3 {
  top: 0px;
  left: 6px;
  width: 32px;
  height: 32px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.home-page-sv-repoicon-carrier4 {
  top: 7.776000022888184px;
  left: 5px;
  width: 22px;
  height: 16.44900131225586px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.home-page-vector6 {
  top: 0px;
  left: 0px;
  width: 22px;
  height: 16px;
  position: absolute;
}
.home-page-qri-logo {
  top: 28px;
  left: 159px;
  width: 32px;
  height: 32px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.home-page-qris {
  top: 10px;
  left: 0px;
  width: 32px;
  height: 13px;
  position: absolute;
}
.home-page-qrisbox {
  top: 0px;
  left: 0px;
  width: 32px;
  height: 32px;
  position: absolute;
}
.home-page-notif {
  top: 13px;
  left: 305px;
  width: 41px;
  height: 42px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.home-page-sv-repoicon-carrier5 {
  top: 7.875px;
  left: 8.998720169067383px;
  width: 23.002723693847656px;
  height: 26.25px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.home-page-vector7 {
  top: 0px;
  left: 0px;
  width: 23px;
  height: 21px;
  position: absolute;
}
.home-page-vector8 {
  top: 24.5px;
  left: 9.084501266479492px;
  width: 5px;
  height: 2px;
  position: absolute;
}
.home-page-logo-b-imo {
  top: 7px;
  left: 153px;
  width: 51px;
  height: 51px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.home-page-layer1 {
  top: 9.184067726135254px;
  left: 9.179545402526855px;
  width: 33.822967529296875px;
  height: 32.32783508300781px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.home-page-g4167 {
  top: 0px;
  left: 0px;
  width: 33.822967529296875px;
  height: 32.32783508300781px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.home-page-g4175 {
  top: 0px;
  left: 0px;
  width: 33.822967529296875px;
  height: 32.32783508300781px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.home-page-g2643 {
  top: 0px;
  left: 0px;
  width: 33.822967529296875px;
  height: 32.32783508300781px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.home-page-g4219 {
  top: 0px;
  left: 0px;
  width: 33.822967529296875px;
  height: 32.32783508300781px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.home-page-g4225 {
  top: 0px;
  left: 0px;
  width: 33.822967529296875px;
  height: 32.32783508300781px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.home-page-text1310 {
  top: 21.306739807128906px;
  left: 6.691439151763916px;
  width: 27.131526947021484px;
  height: 11.02109432220459px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.home-page-path2616 {
  top: 0px;
  left: 0px;
  width: 16px;
  height: 11px;
  position: absolute;
}
.home-page-path2618 {
  top: 0.04067949578166008px;
  left: 16.525041580200195px;
  width: 11px;
  height: 11px;
  position: absolute;
}
.home-page-path6 {
  top: 0px;
  left: 0px;
  width: 33px;
  height: 18px;
  position: absolute;
}
.home-page-image {
  width: 100%;
  height: 615px;
  object-fit: cover;
}
