.login-page {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.main-login-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: flex-start;
  flex-direction: column;
}
.login-home-page {
  top: 0px;
  left: 0px;
  margin: 0 auto;
  width: 438px;
  height: 807px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 30px;
  justify-content: center;
  background-color: #ffffff;
  border-color: black;
  border-width: 1px;
}
.topbar {
  top: 0px;
  left: 0px;
  width: 445px;
  height: 65px;
  position: absolute;
}

.welcome-container {
  top: 95px;
  left: 24px;
  width: 327px;
  height: 641px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.login-welcome-text {
  top: 14px;
  left: 105px;
  color: rgb(255, 255, 255);
  height: auto;
  position: absolute;
  font-size: 25px;
  font-style: SemiBold;
  text-align: center;
  font-family: Cabin;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.login-image {
  top: 8px;
  left: 197px;
  width: 49px;
  height: 54px;
  position: absolute;
  object-fit: cover;
}
.login-image1 {
  width: 100%;
  height: 615px;
  object-fit: cover;
}
.login-background {
  top: 150px;
  left: 11px;
  width: 416px;
  height: 318px;
  position: absolute;
}
.login-text {
  top: 475px;
  left: 28px;
  color: rgb(40, 63, 183);
  height: auto;
  position: absolute;
  font-size: 35px;
  font-style: Bold;
  text-align: center;
  font-family: Cabin;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.login-input-container {
  top: 527px;
  flex: 0 0 auto;
  right: 19px;
  width: 361px;
  height: 127px;
  display: flex;
  position: absolute;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  align-items: flex-start;
  margin-left: 20px;
  border-color: var(--dl-color-gray-500);
  border-width: 1px;
  margin-right: 20px;
  border-radius: var(--dl-radius-radius-radius8);
}
.login-profile1335 {
  top: 15px;
  left: 17px;
  width: 42px;
  height: 36px;
  position: absolute;
}
.login-line8 {
  top: 63px;
  left: 0px;
  width: 360px;
  height: 0px;
  position: absolute;
  border-color: var(--dl-color-gray-500);
  border-width: 1px;
}
.login-vector {
  left: 20px;
  width: 38px;
  bottom: 16px;
  height: 40px;
  position: absolute;
}
.login-username-input {
  top: 10px;
  left: 55px;
  color: var(--dl-color-gray-500);
  width: 280px;
  height: 52px;
  position: absolute;
  font-size: 20px;
  font-family: Cabin;
  border-width: 0px;
  background-color: transparent;
}
.login-password-input {
  left: 59px;
  color: var(--dl-color-gray-500);
  width: 257px;
  bottom: 8px;
  height: 52px;
  position: absolute;
  font-size: 20px;
  font-family: Cabin;
  border-width: 0px;
  background-color: transparent;
}
.login-vector1 {
  right: 14px;
  width: 20px;
  bottom: 17px;
  height: 20px;
  position: absolute;
}
.login-button {
  left: 38px;
  color: var(--dl-color-gray-white);
  width: 284px;
  bottom: 20px;
  height: 52px;
  position: absolute;
  font-size: 25px;
  box-shadow: rgb(212, 212, 212) 5px 5px 10px 0px;
  font-family: Cabin;
  border-width: 0px;
  background-color: rgb(64, 80, 225);
}
.login-button1 {
  color: transparent;
  right: 44px;
  width: 59px;
  bottom: 23px;
  height: 57px;
  position: absolute;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  border-width: 0px;
  background-color: rgb(64, 80, 225);
}
.login-fingder-print-icon {
  right: 56px;
  width: 42px;
  bottom: 30px;
  height: 40px;
  position: absolute;
}
.login-text-forgot {
  top: 667px;
  color: rgb(40, 63, 183);
  right: 37px;
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: Bold;
  text-align: center;
  font-family: Cabin;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.login-text-Remind {
  left: 42px;
  color: rgb(40, 63, 183);
  bottom: 117px;
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: Bold;
  text-align: center;
  font-family: Cabin;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
@media(max-width: 1600px) {
.login-home-page {
  top: 0px;
  left: 450px;
  margin: 0 auto;
}
  .login-welcome {
    top: 11px;
    left: 119px;
    color: rgb(255, 255, 255);
    font-size: 25px;
    font-family: Cabin;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
  }
  .login-image {
    top: 9px;
    left: 191px;
    width: 56px;
    height: 48px;
    position: absolute;
  }
  .login-button {
    width: 293px;
  }
  .login-button1 {
    right: 38px;
    bottom: 20px;
    height: 52px;
    margin-bottom: 0px;
  }
  .login-fingder-print-icon {
    right: 51px;
    bottom: 27px;
  }
  .login-text-forgot {
    color: rgb(40, 63, 183);
    right: 24px;
    width: 240px;
    bottom: 119px;
    font-size: 18px;
    font-family: Cabin;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
  }
}
@media(max-width: 1200px) {
  .login-home-page {
    background-color: #ffffff;
    left: 0px;
  }
  .login-welcome {
    top: 9px;
    left: 111px;
    color: rgb(255, 255, 255);
    font-size: 25px;
    font-family: Cabin;
    font-weight: 600;
    line-height: normal;
    text-decoration: none;
  }
  .login-background {
    top: 161px;
    left: 38px;
    width: 377px;
    height: 300px;
  }
  .login-text {
    top: 483px;
    left: 24px;
    color: rgb(40, 63, 183);
    font-size: 25px;
    font-family: Cabin;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
  }
  .login-input-container {
    top: 526px;
    left: 18px;
    width: 392px;
    position: absolute;
    margin-left: 0px;
    margin-right: 0px;
  }
  .login-line8 {
    width: 390px;
  }
  .login-username-input {
    width: 238px;
  }
  .login-password-input {
    left: 58px;
    width: 199px;
    bottom: 9px;
  }
  .login-button {
    left: 22px;
    width: 308px;
    bottom: 21px;
  }
  .login-text-forgot {
    color: rgb(40, 63, 183);
    right: 18px;
    bottom: 115px;
    font-size: 15px;
    font-family: Cabin;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
  }
  .login-text-Remind {
    left: 26px;
    color: rgb(40, 63, 183);
    bottom: 119px;
    font-size: 15px;
    font-family: Cabin;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
  }
}
@media(max-width: 991px) {
  .login-background {
    top: 168px;
    left: 27px;
  }
  .login-button {
    left: 24px;
    width: 296px;
    bottom: 26px;
  }
  .login-button1 {
    right: 40px;
    bottom: 25px;
  }
  .login-fingder-print-icon {
    right: 56px;
    bottom: 32px;
  }
  .login-text-forgot {
    color: rgb(40, 63, 183);
    right: 18px;
    bottom: 115px;
    font-size: 17px;
    font-family: Cabin;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
  }
  .login-text-Remind {
    left: 26px;
    color: rgb(40, 63, 183);
    bottom: 119px;
    font-size: 17px;
    font-family: Cabin;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
  }
}
@media(max-width: 767px) {
  .login-background {
    top: 168px;
    left: 27px;
  }
  .login-button {
    left: 24px;
    width: 296px;
    bottom: 26px;
  }
  .login-button1 {
    right: 40px;
    bottom: 25px;
  }
  .login-fingder-print-icon {
    right: 56px;
    bottom: 32px;
  }
}
@media(max-width: 361px) {
  .login-home-page {
    width: 360px;
    margin-right: 0px;
  }
  .topbar {
    width: 360px;
  }
  .login-welcome {
    top: 26px;
    left: 75px;
  }
  .login-image {
    top: 12px;
    left: 157px;
  }
  .login-background {
    top: 198px;
    left: -12px;
  }
  .login-input-container {
    width: 322px;
  }
  .login-line8 {
    width: 320px;
  }
  .login-password-input {
    left: 55px;
    bottom: 10px;
  }
  .login-button {
    left: 21px;
    width: 242px;
    bottom: 21px;
  }
  .login-button1 {
    right: 28px;
    bottom: 21px;
  }
  .login-fingder-print-icon {
    right: 41px;
    bottom: 29px;
  }
  .login-text-forgot {
    color: rgb(40, 63, 183);
    right: -4px;
    bottom: 116px;
    font-size: 15px;
    font-family: Cabin;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
  }
  .login-text-Remind {
    left: 25px;
    color: rgb(40, 63, 183);
    bottom: 120px;
    font-size: 15px;
    font-family: Cabin;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
  }
}

*:focus {
  outline: none;
}